In [7]:
# Import dependencies
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt

In [8]:
# Import CSVs 
visa_data_path = Path("Data/ABS_NOM_VISA.csv")
gender_data_path = Path("Data/ABS_NOM_AGE-GENDER.csv")

visa_data_df = pd.read_csv(visa_data_path, encoding="utf-8")
gender_data_df = pd.read_csv(gender_data_path, encoding="utf-8")

In [9]:
# Check import 
visa_data_df.head()

,DATAFLOW,MEASURE: Type of Visa,MIGRATIONTYPE: Migration Type,REGION: Region,FREQ: Frequency,TIME_PERIOD: Time Period,OBS_VALUE,UNIT_MEASURE: Unit of Measure,OBS_STATUS: Observation Status,OBS_COMMENT: Observation Comment,REPYEAREND: Reporting Year End Day
0,ABS:ABS_NOM_VISA_FY(1.0.0),2: Temporary visa - Vocational Education and T...,1: NOM arrivals,2: Victoria,A: Annual,2005,2300,PSNS: Persons,NaN,NaN,30-6: Year Ending 30 June
1,ABS:ABS_NOM_VISA_FY(1.0.0),2: Temporary visa - Vocational Education and T...,1: NOM arrivals,2: Victoria,A: Annual,2006,3630,PSNS: Persons,NaN,NaN,30-6: Year Ending 30 June
2,ABS:ABS_NOM_VISA_FY(1.0.0),2: Temporary visa - Vocational Education and T...,1: NOM arrivals,2: Victoria,A: Annual,2007,7130,PSNS: Persons,NaN,NaN,30-6: Year Ending 30 June
3,ABS:ABS_NOM_VISA_FY(1.0.0),2: Temporary visa - Vocational Education and T...,1: NOM arrivals,2: Victoria,A: Annual,2008,10130,PSNS: Persons,NaN,NaN,30-6: Year Ending 30 June
4,ABS:ABS_NOM_VISA_FY(1.0.0),2: Temporary visa - Vocational Education and T...,1: NOM arrivals,2: Victoria,A: Annual,2009,20180,PSNS: Persons,NaN,NaN,30-6: Year Ending 30 June

In [10]:
# Check import 
gender_data_df.head()

,DATAFLOW,MEASURE: Measure,AGE: Age,SEX: Sex,REGION: Region,FREQ: Frequency,TIME_PERIOD: Time Period,OBS_VALUE,UNIT_MEASURE: Unit of Measure,OBS_STATUS: Observation Status,OBS_COMMENT: Observation Comment,REPYEAREND: Reporting Year End Day
0,ABS:NOM_FY(1.0.0),2: NOM departures,TOT: All ages,2: Females,4: South Australia,A: Annual,2005,3780,NUM: Number,NaN,NaN,30-6: Year Ending 30 June
1,ABS:NOM_FY(1.0.0),2: NOM departures,TOT: All ages,2: Females,4: South Australia,A: Annual,2006,3870,NUM: Number,NaN,NaN,30-6: Year Ending 30 June
2,ABS:NOM_FY(1.0.0),2: NOM departures,TOT: All ages,2: Females,4: South Australia,A: Annual,2007,4020,NUM: Number,NaN,NaN,30-6: Year Ending 30 June
3,ABS:NOM_FY(1.0.0),2: NOM departures,TOT: All ages,2: Females,4: South Australia,A: Annual,2008,4620,NUM: Number,NaN,NaN,30-6: Year Ending 30 June
4,ABS:NOM_FY(1.0.0),2: NOM departures,TOT: All ages,2: Females,4: South Australia,A: Annual,2009,4310,NUM: Number,NaN,NaN,30-6: Year Ending 30 June

Sanitise visa data dataframe